@font-face {
  font-family: parkSign;
  src: url('../fonts/NationalPark-Regular.otf');
}

.park-name {
  font-family: parkSign;
}

.small-park {
	font-size: 2rem;
}

.large-park {
	font-size: 4rem;
}

.sign {
	background-color: #7c4f25;
	color: white;
}

.list-element {
	border-bottom-style: solid;
	border-bottom-color: #216d21;
	padding-bottom: 2%;
	margin-bottom: 2%;
	width: 80%;
}