<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NPS Information</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Welcome to our parks!
      </h1>
      <p class="subtitle">
        What are you looking for today?
      </p>

  <!--    <p class="subtitle">View campgrounds by state: </p>
      <form action="{{ url_for('campgrounds') }}">
        <div class="select is-multiple">
          <select multiple size="8" name="requestedStates">
            {% for state in states %}
              <option value="{{ state.abbreviation }}">{{ state.name }}</option>
            {% endfor %}
          </select>

          <p> {{ campgrounds_by_state }} </p>
          </div>

          <button type="submit" id="campground-button" class="button is-black">Give me the campgrounds!</button>
      </form>


    </div>


    <div> -->
      <form action="{{ url_for('parks') }}">

          <p class="subtitle">Search parks by keyword:</p>
          <input class="input is-primary" type="text" name="keyword" placeholder="keyword"><br>

     <!--     <p class="subtitle">Filter by park code:</p>
          <input type="text" name="parkCode"><br> -->

          <p class="subtitle">Select parks by state:</p>
          <div class="select is-multiple">
          <select multiple size="8" name="requestedParkStates">
            {% for state in states %}
              <option value="{{ state.abbreviation }}">{{ state.name }}</option>
            {% endfor %}
          </select>

          <p> {{ campgrounds_by_state }} </p>
          </div>

          <button type="submit" id="park-button" class="button is-black">Show me your parks!</button>
      </form>

      </div>
  </section>

  </body>
</html>