<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NPS Information</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <p class="title">{{ park_name }} Lessons</p>
      <p class="subtitle">Learn about varied topics relating to the park history and nature.</p>
    </div>

    <div class="container">
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li id="lessons">
            <form action="{{ url_for('lessons') }}">
              <button type="submit" value="{{ park_code }}" name="parkLessons" class="button is-black">Lessons</button>
            </form>
          </li>
          <li id="articles" onclick="getElementById('alert').style.color = '#00d1b2'">
            <a href="#">
              <span class="icon is-small">
                <img src="/static/images/newspaper-black-22.svg"/>
              </span>
              <span class="has-text-dark">Related Articles</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon is-small">
                <img src="/static/images/things-to-do-black-22.svg"/>
              </span>
              <span class="has-text-dark">Events</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="container">
        {% for i in range(lesson_list | length) %}
              <p class="subtitle is-inline">{{ lesson_list[i] }}</p>
              <img src="/static/images/visitor-center-black-22.svg" class="is-inline"/>
              <div class="container"> 
                <img src="/static/images/maps-black-22.svg" class="is-inline"/>
                <p class="is-inline"> {{ desc[i] }}</p>
              </div>

              <div class="container"> 
                <img src="/static/images/young-scientist-program-black-22.svg" class="is-inline"/>
                <p class="is-inline">{{ subjects[i] }}</p>
              </div>

              <div class="container"> 
                <img src="/static/images/young-scientist-program-black-22.svg" class="is-inline"/>
                <p class="is-inline">{{ grade[i] }}</p>
              </div>

              <div class="container"> 
                <img src="/static/images/young-scientist-program-black-22.svg" class="is-inline"/>
                <p class="is-inline">{{ urls[i] }}</p>
              </div>
        {% endfor %}
    </div>
  </section>
  </body>
</html>