<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NPS Information</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/park.css') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
  <section class="section sign">
    <div class="container">
      <p class="park-name large-park">{{ park_name }} News Releases</p>
      <p class="subtitle has-text-white">See the most recent news for this park.</p>
    </div>

    <div class="container">
        <nav class="breadcrumb" aria-label="breadcrumbs">
          <ul>
            <li id="alerts">
              <form action="{{ url_for('alerts') }}">
              <button type="submit" value="{{ park_code }}" name="parkAlerts" class="button is-black">Alerts</button>
            </form>
            </li>
            <li id="articles">
              <form action="{{ url_for('articles') }}">
              <button type="submit" value="{{ park_code }}" name="parkArticles" class="button is-black">Related Articles</button>
            </form>
            </li>
            <li id="news">
              <form action="{{ url_for('news') }}">
              <button type="submit" value="{{ park_code }}" name="parkNews" class="button is-black">News Releases</button>
            </form>
            </li>
          </ul>
        </nav>
      </div>

    </section>
  <section class="section">
      <div class="container">
          {% for i in range(news_list | length) %}
                  <p class="park-name small-park is-inline">{{ news_list[i] }}</p>
                  <div class="container"> 
                    <img src="/static/images/newspaper-black-22.svg" class="is-inline"/>
                    <p class="is-inline">{{ desc[i] }}</p>
                  </div>

                  <div class="container"> 
                    <img src="/static/images/calendar-events-black-22.svg" class="is-inline"/>
                    <p class="is-inline">{{ date[i] }}</p>
                  </div>

                  <div class="container"> 
                    <img src="/static/images/wi-fi-black-22.svg" class="is-inline"/>
                    <p class="is-inline">{{ urls[i] }}</p>
                  </div>
                  <p class="list-element"></p>
          {% endfor %}
      </div>
  </section>

  <section class="has-background-black has-text-white">
    <footer class="footer has-background-black">
      <div class="content has-text-centered">
        <p>
          Website by <a href="https://www.github.com/danielazieba">Daniela Zieba</a>. Powered by Bulma, Flask, NPS API. Special thanks to <a href="https://nationalparktypeface.com/">https://nationalparktypeface.com/</a>.
        </p>
        <p>
          Note that this is not an official National Park Service website.
        </p>
      </div>
    </footer>
  </section>
  </body>
</html>