<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NPS Information</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/park.css') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
  <section class="section sign">
    <div class="container">
      <p class="park-name large-park">{{ park_name }} People</p>
      <p class="subtitle has-text-white">Learn about some famous figures associated with this park.</p>
    </div>

      <div class="container">
        <nav class="breadcrumb" aria-label="breadcrumbs">
          <ul>
            <li id="lessons">
              <form action="{{ url_for('lessons') }}">
                <button type="submit" value="{{ park_code }}" name="parkLessons" class="button is-black">Lessons</button>
              </form>
            </li>
            <li id="people">
              <form action="{{ url_for('people') }}">
                <button type="submit" value="{{ park_code }}" name="parkPeople" class="button is-black">People</button>
              </form>
            </li>
            <li id="places">
              <form action="{{ url_for('places') }}">
                <button type="submit" value="{{ park_code }}" name="parkPlaces" class="button is-black">Places</button>
              </form>
            </li>
            </li>
          </ul>
        </nav>
      </div>
    </section>

    <section class="section">
    <div class="container">
        {% for i in range(people_list | length) %}
              <p class="park-name small-park">{{ people_list[i] }}</p>
              <div class="container"> 
                <img src="{{ image_urls[i] }}" class="is-inline"/>
              </div>

              <div class="container"> 
                <img src="/static/images/incident-black-22.svg" class="is-inline"/>
                <p class="is-inline">{{ desc[i] }}</p>
              </div>

              <div class="container"> 
                <img src="/static/images/wi-fi-black-22.svg" class="is-inline"/>
                <p class="is-inline">{{ urls[i] }}</p>
              </div>
              <p class="list-element"></p>
        {% endfor %}
    </div>
  </section>

  <section class="has-background-black has-text-white">
    <footer class="footer has-background-black">
      <div class="content has-text-centered">
        <p>
          Website by <a href="https://www.github.com/danielazieba">Daniela Zieba</a>. Powered by Bulma, Flask, NPS API. Special thanks to <a href="https://nationalparktypeface.com/">https://nationalparktypeface.com/</a>.
        </p>
        <p>
          Note that this is not an official National Park Service website.
        </p>
      </div>
    </footer>
  </section>
  </body>
</html>