<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NPS Information</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/park.css') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <section class="section sign">
    <div class="container">
      <h1 class="park-name large-park">
        {{ park_name }}
      </h1>
    </div>
  </section>

  <section class="section has-background-dark">
      <div class="container has-background-dark">
          <img src="/static/images/maps-white-22.svg"/>
          <br>
          <p class="subtitle has-text-white is-inline"> Located in:</p>
          <p class="subtitle has-text-white is-inline"> {{ park_state }} </p>
        <p class="subtitle has-text-white"> {{ park_location }} </p> 

        <p class="subtitle has-text-white"> Designation: {{ park_designation }} </p> 

      </div>

      
  </section>

  <section class="section">
    <div class="container">
      <p class="subtitle"> {{ park_desc }} </p>
    </div>
    <br>
    <div class="container">
      <p class="subtitle">Do you want more information? View:</p>
      <form action="{{ url_for('newsstand') }}">
        <button type="submit" value="{{ selected_code }}" name="parkAlert" class="button is-black">Alerts, news, and articles</button>
      </form>
      <form action="{{ url_for('selectedcamp') }}">
        <button type="submit" id="park-amenities" class="button is-black" name="campgroundWanted" value="{{ selected_code }}">Campgrounds and amenities</button>
      </form>
      <form action="{{ url_for('visitorcenters') }}">
        <button type="submit" id="park-vc" class="button is-black" name="vcWanted" value="{{ selected_code }}">Visitor center information</button>
      </form>
      <form action="{{ url_for('education') }}">
        <button type="submit" id='edu-want' name="educationWant" class="button is-black" value="{{ selected_code }}">Educational facts and people</button>
      </form>
    </div>
  </section>

  <section class="has-background-black has-text-white">
    <footer class="footer has-background-black">
      <div class="content has-text-centered">
        <p>
          Website by <a href="https://www.github.com/danielazieba">Daniela Zieba</a>. Powered by Bulma, Flask, NPS API. Special thanks to <a href="https://nationalparktypeface.com/">https://nationalparktypeface.com/</a>.
        </p>
        <p>
          Note that this is not an official National Park Service website.
        </p>
      </div>
    </footer>
  </section>

  </body>
</html>