<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NPS Information</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>

  <section class="section">
    <div class="container">
      <p class="title">Campgrounds</p>
        <p class="subtitle">Weather - {{ weather }} </p>

        {% for i in range(campground_list | length) %}
              <p class="subtitle is-inline">{{ campground_list[i] }}</p>
              <img src="/static/images/campground-black-22.svg" class="is-inline"/>
              <div class="container"> 
                <img src="/static/images/wi-fi-black-22.svg" class="is-inline"/>
                <p class="is-inline"> {{ internet[i] }}</p>
              </div>

              <div class="container"> 
                <img src="/static/images/wheelchair-accessible-black-22.svg" class="is-inline"/>
                <p class="is-inline"> {{ ada_info[i] }}</p>
              </div>
        {% endfor %}
    </div>
  </section>

  </body>
</html>