<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NPS Information</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>

  <section class="section">
    <div class="container">
      <p class="title">Visitor Centers</p>
        <p class="subtitle">At {{ park_name }} </p>

        {% for i in range(vc_list | length) %}
              <p class="subtitle is-inline">{{ vc_list[i] }}</p>
              <img src="/static/images/visitor-center-black-22.svg" class="is-inline"/>
              <div class="container"> 
                <img src="/static/images/maps-black-22.svg" class="is-inline"/>
                <p class="is-inline"> {{ location[i] }}</p>
              </div>

              <div class="container"> 
                <img src="/static/images/information-black-22.svg" class="is-inline"/>
                <p class="is-inline"> {{ desc[i] }}</p>
              </div>

              <div class="container"> 
                <img src="/static/images/directions-black-22.svg" class="is-inline"/>
                <p class="is-inline"> {{ dir[i] }}</p>
              </div>

              <div class="container"> 
                <img src="/static/images/wi-fi-black-22.svg" class="is-inline"/>
                <p class="is-inline"> {{ urls[i] }}</p>
              </div>
        {% endfor %}
    </div>
  </section>

  <section class="has-background-black has-text-white">
    <footer class="footer has-background-black">
      <div class="content has-text-centered">
        <p>
          Website by <a href="https://www.github.com/danielazieba">Daniela Zieba</a>. Powered by Bulma, Flask, NPS API. Special thanks to <a href="https://nationalparktypeface.com/">https://nationalparktypeface.com/</a>.
        </p>
        <p>
          Note that this is not an official National Park Service website.
        </p>
      </div>
    </footer>
  </section>

  </body>
</html>